/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#dropzone {
  border: 2px dashed #ccc;
  /* width: 40%; */
  /* height: 300px; */
  text-align: center;
  color: #ccc;
  padding: 70px 0;
}

#dropzone-message {
  position: absolute;
  width: 300px;
  left: calc(50% - 150px);
  text-align: center;
  color: rgb(173, 173, 173);
  z-index: -1;
}

#input-field {
  display:none;
}

/* .out {
  display: flex;
  flex-direction: row;
  margin: 50px;
} */

.in {
  margin: 20px;
}

.image {
  float:right;
  width: fit-content;
  margin: 10px;
}

body {
  margin: 20px;
}

.rich-text-area {
  height: auto;
}

.title-field {
  width: 400px;
}

.around {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display:none;
}

#toggle-link {
  cursor: pointer;
}

img.resize {
  height: auto; 
  width: auto; 
  max-width: 150px; 
  max-height: 150px;
}

.featured {
  background-color: rgb(33, 37, 41);
  color: white;
  margin: 20px;
  padding: 20px;

}

.featured a {
  color: white;
  font-size: larger;
}

.featured-title {
  width: 450px;
}

.featured-title h2 {
  font-size: 50px;
}